@import helpers/index

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap')

body
	min-width: 320px
	overflow-x: hidden
	font-family: 'Roboto', sans-serif
a
	text-decoration: none
p
	font-size: 16px
	font-weight: 400
	width: 100%
.mt-3
	margin-top: 3em !important
.jcsb
	justify-content: space-between
.text-center
	text-align: center !important
.container
	max-width: 1230px
	padding-left: 15px
	padding-right: 15px
	margin: 0 auto
	.row
		display: flex
		flex-wrap: wrap
.loading
	width: 100%
	margin: 15px
	.circle
		img
			display: block
			max-width: 100%
			height: auto
			margin: 0 auto
.header
	background: #FFFFFF
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
	margin-bottom: 40px
	.container
		.row
			align-items: center
	.nav-bar
		&-menu
			display: flex
			flex-wrap: wrap
			li
				a
					font-weight: 400				
					font-size: 24px
					line-height: 28px
					display: flex
					align-items: center
					text-align: center
					text-decoration: none
					color: #000
					padding: 19px 20px
			 		transition: all 0.25s ease
					&:hover
						background-color: #F0EEEE
				a.active
					background-color: #F0EEEE
					cursor: auto
	.serch
		margin-left: auto
		input
			background: transparent
			background-image: url(../img/search.png)
			background-repeat: no-repeat
			background-position: 11px center
			border-radius: 20px
			font-size: 24px
			line-height: 28px
			border: 1px solid 
			color: #808080
			padding-top: 9px
			padding-bottom: 9px
			padding-left: 40px
			padding-right: 24px
			width: 160px
			transition: all 0.5s ease
			&:focus
				width: 320px
.btn
	background-color: #FFFFFF
	border: 1px solid #000000
	box-sizing: border-box
	border-radius: 30px
	font-size: 24px
	line-height: 1
	padding: 17px 23px
	transition: all 0.25s ease
	&:hover
		background-color: #19D94F
		color: #FFFFFF
		border-color: #19D94F
.btn-green
	background-color: #19D94F
	color: #FFFFFF
	border-color: #19D94F
	&:hover
		border-color: #000000
		color: #000000
		background-color: #FFFFFF
// One Post
.post.link
	.title
		&:hover
			text-decoration: underline
			color: #19D94F
.post
	margin-bottom: 40px
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
	padding: 20px
	width: 100%
	&_head
		display: flex
		align-items: center
		.title
			color: #000
			font-size: 24px
			font-weight: 500
			text-decoration: none
	&_body
		margin-bottom: 30px
		margin-top: 30px 
		p
			color: #222222
			line-height: 19px
	&_footer 
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		.comments
			color: #888888
			font-size: 16px
	.date
		color: #888888
		font-size: 16px
	.del
		color: #FF2F2F
		font-size: 16px
		cursor: pointer
		transition: all 0.25s ease
		margin-left: auto
		background: none
		&:hover
			color: #19D94F
// form
h1
	color: #000000
	font-size: 36px
	font-weight: 500
	margin-bottom: 47px
	width: 100%
.form
	width: 100%
	&-group
		margin-bottom: 20px
		label
			display: block
			margin-bottom: 15px
			font-size: 24px
			font-weight: 500
			color: #000000
		.textarea
			height: 200px
			resize: none
		.input-date
			max-width: 120px
		.input-text, .textarea, .input-date
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
			background-color: #ffffff
			border-radius: 10px
			padding: 19px 12px
			font-size: 16px
			font-weight: 400
			border: none
			border: 0
			color: #888888
			display: block
			width: 100%